<html>
    {{>head}}
    <body>

        {{>header}}

        <main>

            <div class="container">

                <div class="row">

                    <div class="col-sm-8 offset-sm-2">


                        <h1 class="text-center">Welcome to your profile {{user}} <h1>

                        <h2 class="text-center" style="color: #4Ca913;">Your personal goals<h2>
                        
                        <h3>Nutrition<h3>
                        <ul>
                            {{#nutrition}}
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>{{description}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <form action="/del/{{_id}}" method="POST">
                                                <input type="hidden" name="user" id="user" value={{user}}>
                                                <input type="image" alt="Delete" src="/Ellipse 2.png" onclick="return confirm('Do you really want to delete this objective ?')">
                                            </form>
                                        </div>
                                        <div class="col-md-2">
                                            <form action="/validate/{{_id}}" method="POST">
                                                <input type="hidden" name="user" id="user" value={{user}}>
                                                <input type="image" alt="Validate" src="/Group 3.png" onclick="return confirm('Are you sure this objective is achieved ?')">
                                            </form>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="/update/{{_id}}" role="button" class="btn btn-outline-primary">Modify</a>
                                        </div>

                                    </div>
                                </li>
                                
                            {{/nutrition}}
                            {{^nutrition}}
                                <p> No goal for this category yet</p>
                            {{/nutrition}}
                        </ul>

                        <hr>

                        <h3>Fitness<h3>
                        <ul>
                            {{#fitness}}
                                  <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>{{description}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <form action="/del/{{_id}}" method="POST">
                                                <input type="hidden" name="user" id="user" value={{user}}>
                                                <input type="image" alt="Delete" src="/Ellipse 2.png" onclick="return confirm('Do you really want to delete this objective ?')">
                                            </form>
                                        </div>
                                        <div class="col-md-2">
                                            <form action="/validate/{{_id}}" method="POST">
                                                <input type="hidden" name="user" id="user" value={{user}}>
                                                <input type="image" alt="Validate" src="/Group 3.png" onclick="return confirm('Are you sure this objective is achieved ?')">
                                            </form>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="/update/{{_id}}" role="button" class="btn btn-outline-primary">Modify</a>
                                        </div>

                                    </div>
                                </li>
                            {{/fitness}}
                            {{^fitness}}
                                <p> No goal for this category yet</p>
                            {{/fitness}}
                        </ul>

                        <hr>

                        <h3>Lifestyle<h3>
                        <ul>
                            {{#lifestyle}}
                                 <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>{{description}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <form action="/del/{{_id}}" method="POST">
                                                <input type="hidden" name="user" id="user" value={{user}}>
                                                <input type="image" alt="Delete" src="/Ellipse 2.png" onclick="return confirm('Do you really want to delete this objective ?')">
                                            </form>
                                        </div>
                                        <div class="col-md-2">
                                            <form action="/validate/{{_id}}" method="POST">
                                                <input type="hidden" name="user" id="user" value={{user}}>
                                                <input type="image" alt="Validate" src="/Group 3.png" onclick="return confirm('Are you sure this objective is achieved ?')">
                                            </form>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="/update/{{_id}}" role="button" class="btn btn-outline-primary">Modify</a>
                                        </div>

                                    </div>
                                </li>

                            {{/lifestyle}}
                            {{^lifestyle}}
                                <p> No goal for this category yet</p>
                            {{/lifestyle}}
                        </ul>

                        <hr>

                        <div class="row my-sm-4">
                            <div class="col text-center">
                                <a class="btn btn-primary m-0 m-md-2" href="/profile/{{user}}/add" role="button">Add a new goal</a>
                                <a class="btn btn-secondary m-0 m-md-2" href="/profile/{{user}}/history" role="button">View achievements history</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </main>



    </body>
</html>